/* Main Stylesheet */

/* Common Styles */
body {
  padding-top: 50px;
  font-family: Verdana, Sans-serif, Tahoma;
}

article {
  padding: 20px 0;
  padding-bottom: 40px;
}

article h2.heading {
    font-family: 'Oswald', Sans-serif;
    font-size: 38px;
    color: #05344c;
    font-weight: 700;
    margin-bottom: 20px;
}

article p {
  line-height: 24px;
  margin-bottom: 25px;
}

article p:last-child {
  margin-bottom: 15px;
}

a {
  /* CSS3 */
  -o-transition:color .2s ease-out, background .5s ease-in;
  -ms-transition:color .2s ease-out, background .5s ease-in;
  -moz-transition:color .2s ease-out, background .5s ease-in;
  -webkit-transition:color .2s ease-out, background .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .5s ease-in;
}



/* Header */
#banner {
  border: 0;
}


/* Navbar - Main Navigation */
.navbar {
  background: #e5e5e5;
}



.navbar .navbar-nav > li > a, .navbar-brand {
  color: #05344c;
  font-family: Oswald, Sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
}

  .navbar-nav > li.active > a {
    background-color: #EEEEEE;
    text-decoration: none;
  }

.navbar-toggle {
  border-color: #05344c;
}

  .navbar-toggle .icon-bar {
    background-color: #05344c;
  }

/*** Main Content ***/
#main-content {
  position: relative;
}

  /* Home - */
  #home {
    background-color: #f4641c;
    padding-bottom: 40px;

  }

    /* Logo */
    #logo h1 {
      font-family: 'Oswald', Sans-serif;
      font-size: 81px;
      font-weight: normal;
      color: #f2f2f2;
      margin: 48px 0;
    }

      #logo > div {
        position: relative;
      }

      #logo h1 sub {
        font-family:'Avenir LT W01 55 Roman';
        color: #05344c;
        font-size: 60px;
        margin-left: 6px;
        top: 3px;
      }

      #logo h1 .sub {
        color: #05344c;
        display: block;
        font-family:'Avenir LT W01 55 Roman';
        font-size: 26px;
        letter-spacing: 0.15em;
        margin-left: -15px;
      }

    #home .offer {
      position: absolute;
      margin-top: -95px;
      margin-right: 10px;
      background-color: #05344c;
      top: 0;
      right: 0;
      z-index: 1000000;
    }

      #home .offer h5 {
        margin-top: 25px;
        margin-bottom: 25px;
      }

      #home .offer .price {
        margin-top: 15px;
      }

      #home .tagline {
        background: url('assets/img/banner.jpg') center center no-repeat;
        min-height: 262px;
        font-family: 'Oswald', Sans-serif;
        font-size: 50.6px;
        font-weight: 700;
        color: #f2f2f2;
        letter-spacing: -0.025em;
        padding-top: 103px; /* value = (image height - text height) / 2 */
      }

      #home .tagline + div.row {
        margin-top: 35px;
        margin-bottom: 48px;
        font-family: 'Oswald', Sans-serif;
        font-size: 19px;
        color: #fff;
      }

        #home .tagline + div.row > div {
          letter-spacing: 0.05em;
        }

      #home .tagline + div.row + div.row {
        margin-bottom: 48px;
        font-family: Verdana, Sans-serif;
        font-size: 19px;
        color: #f2f2f2;
      }

        #home .tagline + div.row + div.row sub {
          margin-left: 10px;
          margin-right: 10px;
          top: 5px;
          font-family:'Avenir LT W01 55 Roman';
          font-size: 44px;
          color: #05344c;
        }

          #home .tagline + div.row + div.row sub > img {
            width: 90%;
            max-width: 18px;
            max-height: 18px;
          }

      #home .tagline + div.row + div.row + div.row {
        font-family: Verdana, Sans-serif;
        font-size: 20px;
        color: #05344c;
      }





  /* Speakers */
  #speakers {
    background-color: #e5e5e5;
  }

    #speakers h2.heading {
      font-family: 'Oswald', Sans-serif;
      font-size: 38px;
      color: #05344c;
      font-weight: 700;
    }

      #speakers .showcase {
        text-align: center;
        /*min-height: 213px;*/
        /*min-width: 284px;*/
        margin-top: 40px;
        position: relative;
      }

        #speakers .showcase .caption {
          display: none;
          top: 0;
          background-color: rgba(0, 0, 0, 0.70);
          /* margin-left: 5px; */
          /* margin-top: 5px; */
          max-width: 214px;
          height: 161px;
          overflow: hidden;
          position: absolute;
          text-align: center;
        }

        #speakers .showcase video, .index img {
          margin: 0 auto;
          max-width: 214px;
          height: auto;
        }

        #speakers .showcase:hover a > .caption {
          display: block;
        }

        #speakers .showcase h3 {
          margin-top: 30px;
          font-family: 'Oswald', Sans-serif;
          font-weight: 300;
          color: #f4641c;
          font-size: 28.8px;
        }

        #speakers .showcase p {
          font-family: Verdana, Sans-serif;
          font-size: 12.6px;
          color: #fff;
          padding: 0 20px;
          line-height: 22px;
        }

      .offer-float-right div {
        display: inline-block;
        float: right;
      }

      #speakers .below-speakers {
        margin-top: 32px;
      }

      #speakers .speak-at-spark {
        padding-top: 47px;
      }

      #speakers .speak-at-spark img {
        padding-top: 19px;
        padding-right: 8px;
      }

        #speakers .speak-at-spark h4 {
          font-family: 'Oswald', Sans-serif;
          font-weight: 400;
          color: #05344c;
          font-size: 19px;
        }

        #speakers .speak-at-spark p {
          color: #444342;
          line-height: 26px;
        }

      #speakers .spark-quote {
        margin-top: 12px;
        text-align: center;
      }

        #speakers .spark-quote h3 {
          font-family: 'Oswald', Sans-serif;
          font-weight: 400;
          font-size: 26.6px;
          color: #f4641c;
        }

        #speakers .spark-quote p {
          font-family: 'Oswald', Sans-serif;
          font-weight: 300;
          font-size: 14px;
          color: #000;
        }




  /* What Is Spark */
  #what-is-spark {
    background-color: #05344c;
    color: #f2f2f2;
    padding-top: 70px;
  }

    #what-is-spark .introductory h2.heading {
      color: #f4641c;
      font-weight: 400;
    }

      #what-is-spark .introductory img {
        margin-top: 30px;
      }


    #what-is-spark .workshop-topic-talks {
      color: #05344c;
      margin-top: 35px;
    }


      #what-is-spark .workshop-topic-talks > div {
        background-color: #f2f2f2;
        padding-top: 20px;
      }

        #what-is-spark .workshop-topic-talks h4 {
          margin-bottom: 40px;
          font-family: 'Oswald', Sans-serif;
          font-size: 22.2px;
          color: #05344c;
          font-weight: 400;
        }

          #what-is-spark .workshop-topic-talks .details {
            text-align: center;
            border-right: 1px solid #f4641c;
            margin-bottom: 25px;
            padding: 0 25px;
            padding-bottom: 0px;
          }

          #what-is-spark .workshop-topic-talks .details:last-child {
            border: 0;
          }

            #what-is-spark .workshop-topic-talks .details h3 {
              margin-top: -10px;
              padding: 0 30px;
              font-family: 'Oswald', Sans-serif;
              font-size: 31px;
              color: #f4641c;
              font-weight: 400;
            }

            #what-is-spark .workshop-topic-talks .details ul {
              list-style-type: none;
              font-size: 18px;
              color: #05344c;
              padding-left: 0;
            }

            #what-is-spark .workshop-topic-talks .details ul li {
              padding: 15px 0;
            }

            #what-is-spark .workshop-topic-talks .details ul li:last-child {
              padding-bottom: 0;
			  display: none;
            }

            /*#what-is-spark .workshop-topic-talks .details ul li:last-child {
              color: #f4641c;
              font-family:'Avenir LT W01 55 Roman';
              font-size: 44.5px;
            }*/

            #what-is-spark .workshop-topic-talks .stars {
              padding-bottom: 25px;
            }


  /* Who Is Spark For? */
  #who-is-spark-for {
    background-color: #05344c;
    color: #f2f2f2;
    padding-top: 0px;
  }

    #who-is-spark-for h2 {
      color: #f4641c;
      font-weight: 400;
    }

    #who-is-spark-for .introductory img  {
      margin-top: 25px;
    }


  /* Schedules */
  #spark-schedule {

  }

  #spark-schedule h2 {
    margin-bottom: 1.5em;
  }

  .schedules {
    margin-left: 20px;
  }

    #spark-schedule .side-label {
      font-family: 'Oswald', Sans-serif;
      color: #fff;
      /*background-color: #f4641c;*/
      font-weight: 400;
      font-size: 45px;
      padding-left: 30px;
      padding-right: 0;
    }

      #spark-schedule .side-label p {
        margin-right: 10px;
        height: 120px;
      }

      #spark-schedule .schedule-item {
        /*width: 50%;*/
        /*float: left;*/
      }

      #spark-schedule .schedule-item:first-child {
        padding-right: 0px;
      }

      #spark-schedule .schedule-item:last-child {
        padding-left: 0px;
      }

        #spark-schedule h4 {
          font-family: 'Oswald', Sans-serif;
          font-weight: 300;
          text-align: center;
          color: #f4641c;
          background-color: #333;
        }

        #spark-schedule ul {
          padding-left: 0;
          list-style-type: none;
          margin-top: -7px;
        }

        #spark-schedule ul li {
          margin-top: 6.5px;
          padding: 20px 15px;
          background-color: #333;
          color: #f2f2f2;
          min-height: 100px;
        }

        #spark-schedule ul li:first-child {
          padding: 1px 0px;
          min-height: 56px;
        }

        #spark-schedule ul li.sp {
          padding-top: 5px;
          padding-bottom: 0px;
        }




  /* Why Should You Go */
  #benefits {
    background-color: #f4641c;
    padding-top: 40px;
  }

    #benefits h2.heading {
      font-weight: 400;
      margin-bottom: 40px;
    }

    #benefits p {
      color: #000;
      font-size: 18px;
    }

      #benefits ul {
        margin-top: 40px;
        list-style: none;
      }

        #benefits ul h3 {
          display: inline;
          font-family: 'Oswald', Sans-serif;
          font-size: 40px;
          color: #05344c;
          font-weight: 300;
          min-width: 145px;
          float: left;
          margin-top: 0;
          text-align: right;
          margin-right: 15px;
        }

        #benefits ul li {
          overflow: hidden;
          margin-bottom: 25px;
        }

        #benefits ul p {
          width: 75%;
          float: left;
          font-size: 15.6px;
          color: #fff;
        }

      #benefits a {
        margin-top: 45px;
        font-family: 'Oswald', Sans-serif;
        font-size: 27.7px;
        font-weight: 400;
        color: #05344c;
      }


  #find-us {
    background-color: #000;
  }

    #find-us h2 {
      color: #f4641c;
      font-weight: 400;
    }

    #find-us .details {
      color: #fff;
      margin-top: 30px;
    }

    #find-us .details a {
      font-family: 'Oswald', Sans-serif;
      font-size: 31.2px;
      font-weight: 400;
      color: #f4641c;
    }

    #find-us .offer {
      margin-top: -20px;
    }

      #find-us .offer h5 {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 38.5px;
      }

      #find-us .offer .price {
        margin-top: 20px;
      }

/*** Main Content end ***/

/* Footer */
footer {
  min-height: 200px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
}

footer p {
}

footer .sponsors-img {
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid #000;
}

footer .sponsors {
    margin-top: 10px;
}

footer .sponsors a {
    color: #000;
    float: left;
    margin-right: 10px;
}


/* Common Styles */

/* backgrounds */
.b-orange {
  background-color: #f4641c;
}


/* text */
.t-white {
  color: #fff;
}

.t-dark-blue {
  color: #05344c;
}

.t-orange {
  color: #f4641c;
}


.offer {
  display: inline-block;
  margin-bottom: 40px;
  padding: 25px 40px;
  background-color: #f4641c;
  font-family: 'Oswald', Sans-serif;
  text-align: center;
  height: 275px;
  width: 275px;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

  .offer h5 {
    font-family: 'Oswald', Sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 25px;
    line-height: 36px;
    padding: 0 10px;
    margin-bottom: 15px;
  }

  .offer .action {
    font-family: 'Oswald', Sans-serif;
    font-weight: 700;
    background-color: #fff;
    color: #545454;
    font-size: 35.6px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 10px;
  }

  .offer .price {
    display: block;
    margin-top: 10px;
    font-family: 'Oswald', Sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 40px;
  }

    .offer .price .addon {
      font-size: 25px;
    }


  /* Diagnonal separators */
  div.sep {
    /*display: none;*/
    /*width: 98%;*/
    margin-bottom: -60px;
    position: relative;
    overflow: hidden;
  }


    hr.diag {
      background-color: #fff;
      height: 80px;
      border: 0 !important;
      margin-top: -40px;
      padding: 0;
      position: relative;
    }

    hr.diag:last-child {
      margin-top: -30px;
      height: 75px;
    }

    hr.diag.down {
      width: 150%;
      margin-left: -25%;
      -moz-transform: rotate(2.5deg);
           -o-transform: rotate(2.5deg);
      -webkit-transform: rotate(2.5deg);
          -ms-transform: rotate(2.5deg);
              transform: rotate(2.5deg);

                 /*filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
                          M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104);
             -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104,sizingMethod='auto expand')";
                   zoom: 1;*/
    }

    hr.diag.up {
      width: 150%;
      margin-left: -25%;
      -moz-transform: rotate(-2.5deg);
           -o-transform: rotate(-2.5deg);
      -webkit-transform: rotate(-2.5deg);
          -ms-transform: rotate(-2.5deg);
              transform: rotate(-2.5deg);
                 /*filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
                          M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104);
             -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104,sizingMethod='auto expand')";
                   zoom: 1;*/
    }


 /* hr.diag:before, hr.diag:after {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
  }

  hr.diag:before, hr.diag:before {
    right: 100%;
  }

  hr.diag:after, hr.diag:after {
    left: 100%;
  }   */

  /* colors */
  hr.diag.orange {
    background-color: #F4641C;
  }

    hr.diag.orange:before, hr.diag.orange:before,
    hr.diag.orange:after, hr.diag.orange:after {
      background-color: #F4641C;
    }

  hr.diag.white {
    background-color: #fff;
  }

    hr.diag.white:before, hr.diag.white:before,
    hr.diag.white:after, hr.diag.white:after {
      background-color: #fff;
    }

  hr.diag.black {
    background-color: #000;
  }

    hr.diag.black:before, hr.diag.black:before,
    hr.diag.black:after, hr.diag.black:after {
      background-color: #000;
    }

  hr.diag.lightgray {
    background-color: #E5E5E5;
  }

    hr.diag.lightgray:before, hr.diag.lightgray:before,
    hr.diag.lightgray:after, hr.diag.lightgray:after {
      background-color: #E5E5E5;
    }

  hr.diag.darkblue {
    background-color: #05344c;
  }

    hr.diag.darkblue:before, hr.diag.darkblue:before,
    hr.diag.darkblue:after, hr.diag.darkblue:after {
      background-color: #05344c;
    }

  #contact + .sep {
  }

  #contact + .sep .hr {
    width: 100%;
    position: absolute;
    z-index: 1000000;
  }

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* Marek messing with the layout */

.offer-row {
  margin-top: 20px;
  text-align: center;
}


.speaker .header {
	width: 1000px;
	margin-left: 13%;
	margin-right: 20%;
}

.speaker .header img {
	width: 1000px;
	height: 442px;
	position:relative;
}

.speaker .header .title-and-booklet {
	position: absolute;
	top: 20px;
	right: 50px;
}

.speaker .header h1 {
	width: 500px;
	color: #f15a24;
	font-size: 4em;
	line-height: 1.2em;
	text-align: center;
	font-family: 'Oswald', Sans-serif;
}

.speaker .header .booklet {
	position: relative;
	left: 120px;
}

.booklet {
	width: 260px;
	height: 260px;
	background-color: #05344c;
	border-radius: 50%;
}

.booklet a {
	position: relative;
	top: 65px;
	left: 30px;
	color: #545454;
	text-transform: uppercase;
	background: white;
	font-size: 2.7em;
	text-align: center;
	font-weight: bold;
	font-family: 'Oswald', Sans-serif;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

.booklet.full a {
	width: 150px;
	display: inline-block;
	top: 75px;
	left: 60px;
}

.booklet a:hover {
  text-decoration: none;
}

.booklet div {
	color: white;
	position: relative;
	top: 85px;
	left: 5px;
	font-size: 2em;
	text-align: center;
}

.speaker .description {
	margin-top: 4em;
	font-size: 1.7em;
}

.speaker .description p:first-of-type:first-letter {
	font-weight: 500;
	color: #f15a24;
	font-size: 2em;
	line-height: 1.4em;
}

.speaker .description p {
	color: black;
	line-height: 1.4em;
	margin-top: 2em;
	margin-left: 23%;
	margin-right: 22%;
	width: 55%;
}

.speaker .description ul {
	width: 50%;
	list-style: none;
	margin-left: 25%;
	margin-right: 20%;
	font-family: 'Oswald', Sans-serif;
	font-weight: 200;
	font-size: 1.8em;
	line-height: 1.4em;
}

.speaker .description li {
	padding-left: 1em;
	text-indent: -.7em;
}

.speaker .description li:before {
	font-size: 1.5em;
	content: "• ";
	color: #f15a24;
	line-height: 1.4em;
}

.speaker .booking-info > div {
	font-size: 1.5em;
	margin-left: 20%;
	width: 42%;
	margin-top: 3em;
}

.speaker .booking-info .book-now {
	position: relative;
	top: -150px;
	right: 20%;
	float: right;
	width: 180px;
	text-align: center;
}

.speaker .booking-info .book-now.full {
	top: -130px;
	right: 16%;
	width: 250px;
}

.speaker .booking-info .book-now a:hover {
	text-decoration: none;
}

.speaker .booking-info .book-now a {
	font-family: 'Oswald', Sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	color: black;
}

.speaker .booking-info .book-now a.button {
	margin-top: 5px;
	background: #f15a24;
	border-radius: 10px;
	color: white;
	padding: 4px 10px 4px 10px;
	font-size: 1.7em;
	line-height: 1.8em;
}

.speaker .about {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5em;
	background: black;
	padding-bottom: 5em;
}

.speaker .about h2,
.speaker .about p {
	text-align: justify;
	margin-left: 10%;
	padding-top: 1.5em;
}


.speaker .about h2 {
	font-family: 'Oswald', Sans-serif;
	font-size: 3em;
	color: #f15a24;
}

.speaker .about p {
	font-size: 1.7em;
	color: white;
}

.speaker .about img {
	width: 190px;
	height: 160px;
	margin-left: 10%;
	margin-top: 30px;
}

@media (min-width: 1000px) {
	.speaker .about img {
		margin-top: 200px;
	}
}
